<!DOCTYPE html>
<html>
<head>
    <title>Elan - strona główna</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/custom.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div class="layout fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#"><span class="brand-color">EL</span>AN</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Index"><i class="fas fa-home"></i> Strona główna</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="~/Home/Account"><i class="fas fa-address-card"></i> Profil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-users"></i> Grupy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-cog"></i> Ustawienia</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 form-control-sm" type="search" placeholder="Szukaj" aria-label="Search">
                        <button class="btn btn-sm btn-success my-2 my-sm-0" type="submit">Szukaj</button>
                    </form>
                </div>
            </div>
        </nav>

        <div class="offset-md-6 col-md-4 hidden-sm-down chat">
            <div class="chat-friends">
                <div class="friends-list">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="avatar-post">
                                <img src="~/images/default_avatar.jpg" />
                            </div>
                            <div class="user-post">
                                <strong>Marcin Korwek</strong><br>
                            </div>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <input type="text" placeholder="Szukaj znajomych" class="form-control" />
                            <a class="dropdown-item" href="#">
                                <div class="user-info">
                                    <div class="avatar-post">
                                        <img src="~/images/default_avatar.jpg" />
                                    </div>
                                    <div class="user-post">
                                        <strong>Kamil Kuryś</strong><br>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="user-info">
                                    <div class="avatar-post">
                                        <img src="~/images/default_avatar.jpg" />
                                    </div>
                                    <div class="user-post">
                                        <strong>Beata Hryniewicka</strong><br>
                                    </div>
                                </div>
                            </a>
                            <a class="dropdown-item" href="#">
                                <div class="user-info">
                                    <div class="avatar-post">
                                        <img src="~/images/default_avatar.jpg" />
                                    </div>
                                    <div class="user-post">
                                        <strong>Gabriel Mackiewicz</strong><br>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-input row">
                <div class="message message-interlocutor">
                    ELO ziomeczki
                </div>
                <div class="message message-me">
                    no siema eniu
                </div>
                <div class="message message-interlocutor">
                    Co tam porabiasz?
                </div>
                <div class="message message-me">
                    a robię sobie mocki na projekt
                </div>
                <div class="message message-interlocutor">
                    Ooo to kozacko
                </div>
                <input type="text" class="form-control" />
                <button class="btn btn-outline-success">Wyślij</button>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
                <!-- content (RenderBody) -->

                <div class="account-introduction">
                    <div class="media avatar">
                        <img class="align-self-start mr-3" src="~/images/default_avatar.jpg" />
                        <div class="media-body">
                            <h3> Maciej Owerczuk</h3>
                            <p class="lead">Jakaś mądra sentencja, cytat życiowy albo coś takiego</p>
                        </div>
                    </div>
                </div>

                <!-- znajomi -->
                <div class="card account-box">
                    <div class="card-header card-sm">
                        <a href="#">Znajomi (13)</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" data-toggle="tooltip" data-placement="bottom" title="Marc  in Korwek" />
                                </a>
                            </div>
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" data-toggle="tooltip" data-placement="bottom" title="Gabriel Mackiewicz" />
                                </a>
                            </div>
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" data-toggle="tooltip" data-placement="bottom" title="Karol Nowicki" />
                                </a>
                            </div>
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" data-toggle="tooltip" data-placement="bottom" title="Kamil Kuryś" />
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" data-toggle="tooltip" data-placement="bottom" title="Beata Hryniewicka" />
                                </a>
                            </div>
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" data-toggle="tooltip" data-placement="bottom" title="Jan Nowak" />
                                </a>
                            </div>
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" data-toggle="tooltip" data-placement="bottom" title="Tadeusz Kowalski" />
                                </a>
                            </div>
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" data-toggle="tooltip" data-placement="bottom" title="Jędrzej Jędrzejczyk" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- foteczki -->
                <div class="card account-box">
                    <div class="card-header card-sm">
                        <a href="#">Zdjęcia (33)</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" />
                                </a>
                            </div>
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" />
                                </a>
                            </div>
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" />
                                </a>
                            </div>
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" />
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" />
                                </a>
                            </div>
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" />
                                </a>
                            </div>
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" />
                                </a>
                            </div>
                            <div class="col-md image-box">
                                <a href="#">
                                    <img src="~/images/no-photo.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post">
                    <div class="card">
                        <div class="card-header card-sm">
                            <div class="user-info">
                                <div class="avatar-post">
                                    <img src="~/images/default_avatar.jpg" />
                                </div>
                                <div class="user-post">
                                    <a href="#"><strong>Maciej Owerczuk</strong></a> <br>
                                    <small class="text-muted">15 października o 14:34</small>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Siema ziomeczki, jak ktoś chce pograć dzisiaj w piłkę z prawdziwymi koksami niech wpada o 20:00 na Zachodnią!!! pozdro</p>
                        </div>
                        <div class="card-footer text-muted card-sm">
                            <a href="#"><i class="fas fa-beer"></i> Piwa (0)</a>
                            <a href="#"><i class="fas fa-comments"></i> Komentarze (1)</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- scripts -->
    <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
    </script>
</body>
</html>