<!DOCTYPE html>
<html>
<head>
    <title>Elan - strona główna</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/custom.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container login-page">
        <div class="row login-logo">
            <div class="">

            </div>
        </div>

        <div class="row login-main">
            <div class="col-md login-form">
                <div class="card">
                    <div class="card-header">
                        Logowanie do portalu <strong><span class="brand-color">EL</span>AN</strong>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="login-email">Email</label>
                                <input type="text" placeholder="Email" id="login-email" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="login-password">Hasło</label>
                                <input type="password" placeholder="Hasło" id="login-password" class="form-control" />
                            </div>

                            <a href="#" class="text-muted">Zapomniałem hasła</a>
                            <a href="/Home/Index" class="btn btn-success float-right">Zaloguj się</a>
                            <!--<input type="submit" class="btn btn-success float-right" value="Zaloguj się" />-->
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md register-welcome">
                <div class="title text-center">
                    <p class="h3 brand-color">
                        Zarejestruj się!
                    </p>
                </div>

                <p class="lead">
                    Korzyści z zarejestrowania się w naszym poratlu społecznościowym jest wiele, oto zaledwie kilka z nich:
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        nawiążesz nowe znajomości
                    </li>
                    <li class="list-group-item">
                        możesz dzielić się zdjęciami i informacjami ze znajomymi
                    </li>
                    <li class="list-group-item">
                        łatwe rozmowy ze wszystkimi gdziekolwiek jesteś
                    </li>
                    <li class="list-group-item">
                        jest darmowe
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>