.top-bar-wrapper {
	background-color: #343a40;
	display: flex;
	flex-direction: column;
	min-height: 40px;
}

.top-bar {
	background-color: #343a40;
	display: flex;
	align-items: center;
	max-width: 960px;
	width: 100%;
	margin: auto;
	flex-grow: 1;
}

.nav-right {
	display: flex;
	padding: 10px;
}

.top-bar ul {
	display: flex;
	flex-grow: 1;
	list-style: none;
	margin: 0px;
}

.top-bar ul li a{
	color: rgba(255,255,255,.5);
}

.top-bar ul .active a{
	color: #fff;
}

.brand-color{
	color: #28a745;
}

.navbar-brand {
	color: #fff;
}

.users-search-list {
	display: flex;
	flex-direction: column;
	z-index: 99999;
}

.nav-right .dropdown-menu {
    z-index: 99999;
    width: 30%;
    max-width: 350px;
    margin-top: 15px;
}

.nav-right.show {
	display: flex !important;
}

.search-result {
	background-color: transparent;
	border: 1px solid rgba(0,0,0,0.1);
	min-height: 30px;
	margin: 1px;
}

.search-result img {
	height: 3rem;
    float: left;
    margin-right: 15px;
}

.brand-el {
    color: #28a745;
}

.brand-an {
    color: #fff;
}

.navbar-brand:hover .brand-el {
    color: #fff !important;
}
.navbar-brand:hover .brand-an {
    color: #28a745 !important;
}
