.top-bar {
	background-color: #343a40;
	display: flex;
	align-items: center;
}

.nav-right {
	display: flex;
	padding: 10px;
}

.top-bar ul {
	display: flex;
	flex-grow: 1;
	list-style: none;
	margin: 0px;
}

.top-bar ul li a{
	color: rgba(255,255,255,.5);
}

.top-bar ul .active a{
	color: #fff;
}

.brand-color{
	color: #28a745;
}

.navbar-brand {
	color: #fff;
}
