.post {
	width: 90%;
	margin: 10px 0 10px 0;
}

.card-text img {
	max-width: 100%;
}

.modal-body {
    max-height: calc(100vh - 312px);
    overflow-y: scroll;
}

.modal-open {
    overflow: scroll;
}

.post-comment textarea {
	resize: none;
}