.post {
	width: 90%;
	margin: 10px 0 10px 0;
}

.card-text img {
	max-width: 100%;
}

.modal-body {
    max-height: calc(100vh - 312px);
    overflow-y: scroll;
}

.modal-open {
    overflow: scroll;
}

.post-comments textarea {
	resize: none;
}

.post-comment img {
    height: 30px;
    margin-top: 13px;
}

.post-comment a {
	color: #000000;
}